---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  bgImg: ImageMetadata;
  bgImgAlt: string;
  logo: ImageMetadata;
  logoAlt: string;
  overview: string;
  roles: string[];
  tools: string[];
  year: string;
}

const { title, bgImg, bgImgAlt, logo, logoAlt, overview, roles, tools, year } =
  Astro.props;
---

<div class="banner m-5 bg-gray">
  <div class="relative flex items-center">
    <div
      class="absolute h-full w-full bg-gradient-to-r from-black to-transparent"
    >
    </div>
    <!-- Title -->
    <span
      class="absolute left-8 max-w-[300px] text-[40px] uppercase text-white md:max-w-[400px] md:text-[60px] lg:text-[80px]"
    >
      {title}
    </span>
    <!-- Banner Image -->
    <Image
      class="max-h-[500px] w-full object-cover"
      src={bgImg}
      alt={bgImgAlt}
    />
  </div>
  <div class="grid gap-4 p-4 py-6 md:flex md:justify-between md:px-8">
    <!-- Logo -->
    <Image src={logo} alt={logoAlt} class="mb-2 h-8 w-auto" />
    <!-- Overview -->
    <div class="flex flex-col gap-2 md:max-w-[250px]">
      <h4>Overview</h4>
      <p>
        {overview}
      </p>
    </div>
    <!-- Roles -->
    <div class="flex flex-col gap-2 md:max-w-[300px]">
      <h4>Role</h4>
      <ul class="ml-8 list-outside list-disc">
        {
          roles.map((roles) => (
            <Fragment key={roles}>
              <li>
                <p>{roles}</p>
              </li>
            </Fragment>
          ))
        }
      </ul>
    </div>
    <!-- Tools & Technology -->
    <div class="flex flex-col gap-2">
      <h4>Tools & Technology</h4>
      <ul class="ml-8 grid list-outside list-disc grid-cols-2 md:grid-cols-1">
        {
          tools.map((tools) => (
            <Fragment key={tools}>
              <li>
                <p>{tools}</p>
              </li>
            </Fragment>
          ))
        }
      </ul>
    </div>
    <!-- Year -->
    <div class="flex flex-col gap-2">
      <h4>Year</h4>
      <ul class="ml-8 list-outside list-disc">
        <li>
          <p>{year}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .banner p {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .banner h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>
