---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  bgImg: ImageMetadata;
  bgImgAlt: string;
  logo: ImageMetadata;
  logoAlt: string;
  overview: string;
  roles: string[];
  tools: string[];
  duration: string;
}

const {
  title,
  bgImg,
  bgImgAlt,
  logo,
  logoAlt,
  overview,
  roles,
  tools,
  duration,
} = Astro.props;
---

<div class='banner m-4 mx-auto max-w-[1800px] bg-gray'>
  <div class='relative flex items-center'>
    <!-- Gradient -->
    <div
      class='absolute h-full w-full bg-gradient-to-r from-black to-transparent'
    >
    </div>
    <!-- Title -->
    <span
      class='absolute left-8 max-w-[300px] text-[40px] uppercase text-white md:max-w-[400px] md:text-[60px] lg:text-[80px]'
    >
      {title}
    </span>
    <!-- Banner Image -->
    <Image
      class='h-[300px] w-full object-cover md:h-[500px]'
      src={bgImg}
      alt={bgImgAlt}
    />
  </div>
  <!-- Logo -->
  <div class='p-6 pb-0 md:px-8'>
    <Image src={logo} alt={logoAlt} class='h-10 w-auto' />
  </div>
  <!-- Banner Info -->
  <div
    class='grid-row grid gap-6 p-6 pb-10 md:grid-cols-[2fr_2fr_1fr_1fr] md:gap-8 md:px-8'
  >
    <!-- Overview -->
    <div class='flex flex-col gap-2'>
      <h4>Overview</h4>
      <p>
        {overview}
      </p>
    </div>
    <!-- Roles -->
    <div class='flex flex-col gap-2'>
      <h4>Role</h4>
      <ul class='ml-4 list-outside list-disc'>
        {
          roles.map((roles) => (
            <Fragment key={roles}>
              <li>
                <p>{roles}</p>
              </li>
            </Fragment>
          ))
        }
      </ul>
    </div>
    <!-- Tools & Technology -->
    <div class='flex flex-col gap-2'>
      <h4>Tools</h4>
      <ul class='ml-4 grid list-outside list-disc grid-cols-2 md:grid-cols-1'>
        {
          tools.map((tools) => (
            <Fragment key={tools}>
              <li>
                <p>{tools}</p>
              </li>
            </Fragment>
          ))
        }
      </ul>
    </div>
    <!-- Duration -->
    <div class='flex flex-col gap-2'>
      <h4>Duration</h4>
      <ul class='ml-4 list-outside list-disc'>
        <li>
          <p>{duration}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .banner p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .banner h4 {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 10px; */
  }
</style>
