---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import circle from "../assets/circle.png";
import whiteCircle from "../assets/circle-white.png";
import githubIcon from "../assets/github.png";
import linkedinIcon from "../assets/linkedin.png";
import resume from "../assets/resume.pdf";
import wave from "../assets/wave.jpeg";

const optimizedBackground = await getImage({
  src: wave,
  format: "webp",
});
---

<footer
  class="bg-250% bg-center bg-no-repeat text-white text-opacity-90"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <div class="flex flex-col items-center gap-6 p-4">
    <Image
      class="mt-4 h-32 w-32 opacity-100"
      src={whiteCircle}
      alt="Enso Circle Logo"
    />
    <a href="mailto:joe.ngyn7@gmail.com"
      ><button
        class="min-w-12 rounded-sm border-2 border-black bg-darkGray pb-2 pl-4 pr-4 pt-2 uppercase tracking-widest text-white shadow-[3px_3px_0px_1px_black]"
        >Contact</button
      ></a
    >
    <div class="flex justify-end gap-3">
      <a href="/">work</a>
      <a href="/about">about</a>
      <a target="_blank" href={resume}>resume</a>
    </div>
    <div class="flex justify-end gap-3 opacity-80">
      <a target="_blank" href="https://www.linkedin.com/in/joengyn/">
        <Image
          class="h-10 w-10 brightness-100 invert filter"
          src={linkedinIcon}
          alt="LinkedIn Icon Logo"
        />
      </a>
      <a target="_blank" href="https://github.com/joengyn/">
        <Image
          class="h-10 w-10 invert filter"
          src={githubIcon}
          alt="Github Logo"
        /></a
      >
    </div>
    <div class="flex flex-col items-center">
      <p>Designed and Developed by Joe Nguyen</p>
      <p>© 2024 | All Rights Reserved</p>
    </div>
  </div>
</footer>
