---
import { Image } from "astro:assets";

interface Props {
  title: string;
  bgImage: ImageMetadata;
  logo: ImageMetadata;
  overview: string;
  // role: string;
  // tools: string;
  year: string;
}

const { title, bgImage, logo, overview, role, tools, year } = Astro.props;
---

<div class="bg-gray">
  <div class="relative flex items-center">
    <div
      class="absolute h-full w-full bg-gradient-to-r from-black to-transparent"
    >
    </div>
    <span class="absolute left-8 w-0 text-[40px] text-white">
      {title}
    </span>
    <Image src={bgImage} alt="bg-card-2" class="w-full object-cover" />
  </div>
  <div class="grid gap-4 p-4 pb-6 pt-6">
    <Image src={logo} alt="bg-logo" class="h-8 w-auto" />
    <div class="grid gap-2">
      <h4 class="mt-2">Overview</h4>
      <p>
        {overview}
      </p>
    </div>
    <div class="grid gap-2">
      <h4>Role</h4>
      <ul class="ml-4">
        <li>
          <p>
            <span class="text-xs">&bull;</span>&nbsp;Design Lead (Mobile
            robotics team)
          </p>
        </li>
        <li>
          <p>
            <span class="text-xs">&bull;</span>&nbsp;Design Technologist / Full
            Stack Developer (Picking robotics team)
          </p>
        </li>
      </ul>
    </div>
    <div class="grid gap-2">
      <h4>Tools & Technology</h4>
      <ul class="ml-4 grid grid-cols-2">
        <li><p><span class="text-xs">&bull;</span>&nbsp;Adobe XD</p></li>
        <li>
          <p><span class="text-xs">&bull;</span>&nbsp;React (Frontend)</p>
        </li>
        <li><p><span class="text-xs">&bull;</span>&nbsp;Figma</p></li>
        <li>
          <p><span class="text-xs">&bull;</span>&nbsp;Python (Backend)</p>
        </li>
      </ul>
    </div>
    <div class="grid gap-2">
      <h4>Year</h4>
      <ul class="ml-4">
        <li>
          <p>
            <span class="text-xs">&bull;</span>&nbsp;{year}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  p {
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
  }

  h4 {
    font-size: 0.875rem;
  }
</style>
