---
import { Image } from "astro:assets";

interface Props {
  href: string;
  title: string;
  body: string;
  card1: ImageMetadata;
  card2: ImageMetadata;
  uiImage: ImageMetadata;
}

const { href, title, body, card1, card2, uiImage } = Astro.props;
---

<div class="mb-10">
  <a href={href}>
    <div class="border-2 border-black">
      <div
        class="relative aspect-square overflow-hidden border-b-2 border-black"
      >
        <Image
          class="absolute top-full z-10 aspect-auto h-1/2 w-auto animate-moveUp rounded-sm drop-shadow-xl"
          src={uiImage}
          alt="Image of UI"
        />
        <Image
          class="absolute inset-0 h-full w-full object-cover"
          src={card2}
          alt="Background image"
        />
        <Image
          class="absolute inset-0 h-full w-full animate-fade object-cover"
          src={card1}
          alt="Background image"
        />
      </div>
      <div class="grid p-4">
        <div class="mb-2 text-lg">
          {title}
        </div>
        <p class="mb-2">{body}</p>
        <div>View Project</div>
      </div>
    </div>
  </a>
</div>
