---
import { Image } from "astro:assets";

interface Props {
  href: string;
  title: string;
  body: string;
  bgImage1: ImageMetadata;
  bgImage2: ImageMetadata;
}

const { href, title, body, bgImage1, bgImage2 } = Astro.props;
---

<div class="mb-10">
  <a href={href}>
    <div class="border-2 border-black">
      <div
        class="relative aspect-square overflow-hidden border-b-2 border-black bg-white"
      >
        <Image
          class="absolute inset-0 h-full w-full object-cover"
          src={bgImage2}
          alt="bg-card-2"
        />
        <Image
          class="animate-fade absolute inset-0 h-full w-full object-cover"
          src={bgImage1}
          alt="bg-card-1"
        />
      </div>
      <div class="grid p-4">
        <div class="mb-2 text-lg">
          {title}
        </div>
        <p>{body}</p>
      </div>
    </div>
  </a>
</div>
