---
// Imports
import { Image } from "astro:assets";

// Components
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Button from "../components/Button.astro";
import PhoneMockup from "../components/PhoneMockup.astro";

// Banner Assets
import bandscanLogo from "../assets/bandscan/bandscan-logo-orange.png";
import bandscanBlackLogo from "../assets/bandscan/bandscan-logo-black.png";
import bandscanWhiteLogo from "../assets/bandscan/bandscan-logo-white.png";
import bandscanCard from "../assets/bandscan/bandscan-card.png";

// Images
import solidJS from "../assets/bandscan/solidjs.png";
import whiteboard from "../assets/bandscan/whiteboard.png";
// Sketches
import sketch1 from "../assets/bandscan/sketch-1.png";
import sketch2 from "../assets/bandscan/sketch-2.png";
import sketch3 from "../assets/bandscan/sketch-3.png";
import sketch4 from "../assets/bandscan/sketch-4.png";
// Wireframes
import exploreWireframe from "../assets/bandscan/wireframe-explore.png";
import likesWirefrane from "../assets/bandscan/wireframe-likes.png";
import eventsWireframe from "../assets/bandscan/wireframe-events.png";
import loginWireframe from "../assets/bandscan/wireframe-login.png";
import onboardingWireframe from "../assets/bandscan/wireframe-onboarding.png";
// V1 Designs
import loginV1 from "../assets/bandscan/login-v1.png";
import onboardV1 from "../assets/bandscan/onboard-v1.png";
import locationV1 from "../assets/bandscan/location-v1.png";
import exploreV1 from "../assets/bandscan/explore-v1.png";
import exploreBioV1 from "../assets/bandscan/explore-bio-v1.png";
import exploreEventsV1 from "../assets/bandscan/explore-events-v1.png";
import likesV1 from "../assets/bandscan/likes-v1.png";
import eventsV1 from "../assets/bandscan/events-v1.png";
import accountV1 from "../assets/bandscan/account-v1.png";
import artistOnboardV1 from "../assets/bandscan/artist-onboarding-v1.png";
import artistNameV1 from "../assets/bandscan/artist-name-v1.png";
import artistBioV1 from "../assets/bandscan/artist-bio-v1.png";
import artistImgV1 from "../assets/bandscan/artist-image-v1.png";
import artistSongV1 from "../assets/bandscan/artist-song-v1.png";
import artistGenreV1 from "../assets/bandscan/artist-genre-v1.png";
import artistContactV1 from "../assets/bandscan/artist-contact-v1.png";
import artistLinksV1 from "../assets/bandscan/artist-links-v1.png";
import artistSocialsV1 from "../assets/bandscan/artist-socials-v1.png";
import artistEventsV1 from "../assets/bandscan/artist-events-v1.png";
import artistEventDetailsV1 from "../assets/bandscan/artist-event-details-v1.png";
import artistOnboardEndV1 from "../assets/bandscan/artist-onboarding-end-v1.png";
// Mockups
import exploreMockup from "../assets/bandscan/explore-mockup.png";
import exploreBioMockup from "../assets/bandscan/explore-bio-mockup.png";
import exploreEventsMockup from "../assets/bandscan/explore-events-mockup.png";
import exploreSocialsMockup from "../assets/bandscan/explore-socials-mockup.png";
import artistOnboardMockup from "../assets/bandscan/artist-onboarding-mockup.png";
import artistNameMockup from "../assets/bandscan/artist-name-mockup.png";
import artistBioMockup from "../assets/bandscan/artist-bio-mockup.png";
import artistLocationMockup from "../assets/bandscan/artist-location-mockup.png";
import artistImgMockup from "../assets/bandscan/artist-image-mockup.png";
import artistSongMockup from "../assets/bandscan/artist-song-mockup.png";
import artistGenreMockup from "../assets/bandscan/artist-genre-mockup.png";
import artistStreamsMockup from "../assets/bandscan/artist-streams-mockup.png";
import artistSocialsMockup from "../assets/bandscan/artist-socials-mockup.png";
import artistEventsMockup from "../assets/bandscan/artist-events-mockup.png";
import artistEventDetailsMockup from "../assets/bandscan/artist-event-details-mockup.png";
import artistOnboardEndMockup from "../assets/bandscan/artist-onboarding-end-mockup.png";
import designSystem from "../assets/bandscan/design-system.png";
// Redesign
import redesign from "../assets/bandscan/bandscan-redesign.png";
import redesign2 from "../assets/bandscan/bandscan-redesign-2.png";
// Gifs
import loginGif from "../assets/bandscan/login.gif";
import onboardingGif from "../assets/bandscan/artist-onboard.gif";
import exploreGif from "../assets/bandscan/explore.gif";
import pageSwipeGif from "../assets/bandscan/page-swiping.gif";
---

<Layout title="Joe Nguyen | Bandscan Case Study">
  <main class="mt-[100px]">
    <!-- Banner -->
    <Banner
      title="Bandscan"
      bgImg={bandscanCard}
      bgImgAlt="Bandscan background image"
      logo={bandscanLogo}
      logoAlt="Bandscan logo"
      overview="Designer and developer of a mobile app for discovering new local music."
      roles={["UX/UI Designer", "Frontend Developer"]}
      tools={["Figma", "SolidJS"]}
      duration="4 months (Nov '24 - Feb '25)"
    />
    <div class="wrapper">
      <!-- Background Section -->
      <h2>Background</h2>
      <Image src={bandscanCard} alt="Bandscan card image" class="mb-2" />
      <figcaption class="mb-10 text-center text-sm">Bandscan card</figcaption>
      <p>
        Discovering local music shouldn’t feel like a scavenger hunt. Social
        media is cluttered, event listings are overwhelming, and word-of-mouth
        is unreliable. This leads to fans often missing out on great live shows
        happening nearby.
      </p>
      <p class="mb-10">
        Bandscan aims to change that, by providing a centralized, easy-to-use
        platform to discover local artists and upcoming events, so you never
        miss a beat.
      </p>
      <!-- Gifs -->
      <div class="mb-3 grid grid-cols-2 gap-4 md:grid-cols-4">
        <PhoneMockup image={loginGif} />
        <PhoneMockup image={pageSwipeGif} />
        <PhoneMockup image={exploreGif} />
        <PhoneMockup image={onboardingGif} />
      </div>
      <figcaption class="mb-20 text-center text-sm">
        Gifs showing various screens and flows
      </figcaption>
      <!-- Timeline and Responsibilities Section -->
      <h2>Timeline and Responsibilities</h2>
      <p>
        The project had a tight deadline (~4 months), with the goal of having a
        working MVP demo ready to showcase in the latest season of Amazon
        Prime's reality show
        <a
          href="https://www.primevideo.com/detail/The-Blox/0IJBJZ2SMKGB6180ZAXN39CFW1"
          style="text-decoration: underline; font-weight: 600;"
          ><em>The Blox.</em></a
        >
      </p>
      <p>
        When I joined the team as a UX/UI designer, initial user research had
        been conducted and early concepts and sketches were in place. I refined
        these ideas into a functional, user-friendly experience, creating a
        Figma design that served as a prototype for development.
      </p>
      <p class="mb-20">
        As the design solidified, I transitioned into a frontend engineering
        role, helping to bring the app to life using SolidJS.
      </p>
      <!-- Early Concepts and Sketches Section -->
      <h2>Early Concepts and Sketches</h2>
      <Image
        src={whiteboard}
        alt="Whiteboard sketch showing initial app concepts and user flows"
        class="mb-2"
      />
      <figcaption class="mb-10 text-center text-sm">
        Whiteboard concepts
      </figcaption>
      <div class="mb-2 grid grid-cols-2 gap-4 md:grid-cols-4">
        <Image
          src={sketch1}
          alt="Early UI concept designs"
          class="border-2 border-gray"
        />
        <Image
          src={sketch2}
          alt="Early UI concept designs"
          class="border-2 border-gray"
        />
        <Image
          src={sketch3}
          alt="Early UI concept designs"
          class="border-2 border-gray"
        />
        <Image
          src={sketch4}
          alt="Early UI concept designs"
          class="border-2 border-gray"
        />
      </div>
      <figcaption class="mb-10 text-center text-sm">
        Early UI concepts
      </figcaption>
      <p class="mb-10">
        The core feature of the app’s design took inspiration from dating apps,
        allowing users to ‘swipe’ on local artists in their area. The goal was
        to serve two main user groups:
      </p>
      <ul class="mb-20">
        <li>
          <p class="mb-0"><b>1.)</b> Fans looking to discover new music</p>
        </li>
        <li>
          <p>
            <b>2.)</b> Artists wanting to create profiles and promote themselves
          </p>
        </li>
      </ul>
      <!-- Wireframes Section -->
      <h2>Wireframes</h2>
      <div class="mb-2 grid grid-cols-2 gap-4 md:grid-cols-4">
        <Image
          src={loginWireframe}
          alt="Login page early wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={onboardingWireframe}
          alt="User onboarding page early wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={likesWirefrane}
          alt="User profile page early wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={exploreWireframe}
          alt="Explore page early wireframe"
          class="border-2 border-gray"
        />
      </div>
      <figcaption class="mb-10 text-center text-sm">
        Early Wireframes
      </figcaption>
      <p>
        Building on the initial concepts, I created wireframes to better
        visualize the app’s structure and user flows.
      </p>
      <p>
        From there, the app’s core pages were established — <b
          >Explore, Likes, Events, Account</b
        > — along with key interactions such as swiping on the Explore page and managing
        likes and upcoming events.
      </p>
      <div class="mb-2 grid grid-cols-3 gap-4">
        <Image
          src={loginV1}
          alt="Login page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={onboardV1}
          alt="User onboarding page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={locationV1}
          alt="Location selection page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={likesV1}
          alt="Liked artists page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={eventsV1}
          alt="Events page page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={accountV1}
          alt="User account settings page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={exploreV1}
          alt="Explore page wireframe"
          class="border-2 border-gray"
        />
        <Image
          src={exploreBioV1}
          alt="Explore page wireframe, about section"
          class="border-2 border-gray"
        />
        <Image
          src={exploreEventsV1}
          alt="Explore page wireframe, events section"
          class="border-2 border-gray"
        />
      </div>
      <figcaption class="mb-20 text-center text-sm">
        Refined Wireframes
      </figcaption>
      <!-- Visuals & Design System Section -->
      <h2>Visuals & Design System</h2>
      <Image
        src={designSystem}
        alt="Design system file showing colors, icons and components"
        class="mb-2"
      />
      <figcaption class="mb-10 text-center text-sm">Design System</figcaption>
      <p>
        For the app’s visual design, we aimed for subtlety. The design should
        support the artists’ content without competing for attention, allowing
        the experience to feel natural and immersive.
      </p>
      <p class="mb-20">
        Since this was an MVP, we prioritized a simple, understated design to
        streamline development. A more refined and fully realized design was
        planned for future iterations.
      </p>
      <!-- Explore Artists Workflow Section -->
      <h2>Explore Artists Workflow</h2>
      <div class="mb-2 grid grid-cols-2 gap-4 md:grid-cols-4">
        <Image src={exploreMockup} alt="Explore page mockup" />
        <Image
          src={exploreBioMockup}
          alt="Explore page mockup, about section"
        />
        <Image
          src={exploreEventsMockup}
          alt="Explore page mockup, events section"
        />
        <Image
          src={exploreSocialsMockup}
          alt="Explore page mockup, social links section"
        />
      </div>
      <figcaption class="mb-10 text-center text-sm">
        Explore Page Mockups
      </figcaption>
      <p>
        The <b>Explore</b> page serves as the core feature of the app, where users
        can discover local artists in their chosen search radius. Each artist's profile
        features an embedded song player for quick listening, details about the artist,
        any upcoming events, and links to their social media.
      </p>
      <p class="mb-20">
        Users can like an artist by clicking the heart icon, adding them to the <b
          >Likes</b
        > page. Once liked, any upcoming events featuring that artist will appear
        on the
        <b>Events</b> page. To discover more artists, users can navigate to the next
        profile by clicking the arrow.
      </p>
      <!-- Artist Onboarding Workflow Section -->
      <h2>Artist Onboarding Workflow</h2>
      <div class="mb-2 grid grid-cols-2 gap-4 md:grid-cols-4">
        <Image
          src={artistOnboardMockup}
          alt="Artist onboarding welcome screen mockup"
        />
        <Image src={artistNameMockup} alt="Artist name input screen mockup" />
        <Image
          src={artistGenreMockup}
          alt="Artist genre selection screen mockup"
        />
        <Image
          src={artistLocationMockup}
          alt="Artist location input screen mockup"
        />
        <Image
          src={artistBioMockup}
          alt="Artist biography input screen mockup"
        />
        <Image
          src={artistImgMockup}
          alt="Artist profile image upload screen mockup"
        />
        <Image src={artistSongMockup} alt="Artist song upload screen mockup" />
        <Image
          src={artistStreamsMockup}
          alt="Artist streaming platforms link screen mockup"
        />
        <Image
          src={artistSocialsMockup}
          alt="Artist social media links input screen mockup"
        />
        <Image
          src={artistEventsMockup}
          alt="Artist events management screen mockup"
        />
        <Image
          src={artistEventDetailsMockup}
          alt="Artist event details input screen mockup"
        />
        <Image
          src={artistOnboardEndMockup}
          alt="Artist onboarding completion screen mockup"
        />
      </div>
      <figcaption class="mb-10 text-center text-sm">
        Create Artist Profile Mockups
      </figcaption>
      <p>
        Our goal was to make it effortless for artists to create a profile and
        promote themselves. The onboarding process was designed to be simple and
        intuitive, guiding artists through the steps of setting up their
        profile, uploading music, and linking their social media.
      </p>
      <p class="mb-20">
        Beyond connecting with fans on the Explore page, artists could also use
        the app as a digital <b>Electronic Press Kit (EPK)</b> to share with venues
        and promoters. An EPK is a curated collection of promotional materials that
        helps musicians pitch their work to industry professionals, bloggers, and
        media outlets, providing a structured overview of their music and brand.
      </p>
      <!-- Development Section -->
      <h2>Development</h2>
      <p>
        Throughout the design process, I worked closely with the lead developer
        to ensure the designs were technically feasible within our constraints.
        By the time I began frontend development, the app was functional but
        unpolished, with raw JSON data and unstyled components.
      </p>
      <Image src={solidJS} alt="SolidJS logo" class="mx-auto mb-2 w-60" />
      <figcaption class="mb-10 text-center text-sm">SolidJS Logo</figcaption>
      <p class="mb-20">
        Using <b>SolidJS</b> and <b>SCSS Modules</b>, I focused on styling the
        interface, creating reusable components, and setting up page navigation
        to improve usability and visual consistency. Other technologies used in
        the project included <b>Supabase</b> for the backend, and <b
          >CapacitorJS</b
        >
        to enable cross-platform functionality across iOS, Android and Web.
      </p>
      <h2>MVP Launch & Next Steps</h2>
      <p>
        The MVP demo was successfully completed on schedule, leading to an
        impressive debut at the event. The app is now in open beta and is being
        actively promoted at shows and other music events throughout Colorado.
        Meanwhile, a more polished and fully developed design is in progress.
        For the latest updates, visit <a
          href="https://info.bandscan.app"
          style="text-decoration: underline; font-weight: 600;"
          ><em>info.bandscan.app.</em></a
        >
      </p>
      <Image src={redesign} alt="New Design Comparison" class="mb-2" />
      <figcaption class="mb-10
        text-center text-sm">
        New Design Comparison
      </figcaption>
      <Image src={redesign2} alt="New Design Language" class="mb-2" />
      <figcaption class="mb-10
        text-center text-sm">
        New Design Language
      </figcaption>
      <h2>Takeways & Learning</h2>
      <p class="mb-20">
        Bandscan was a challenging project that pushed me to grow as a designer
        and developer. I learned a lot about the music industry, user
        interaction, and the importance of collaboration in a fast-paced
        environment. I’m proud of the work we accomplished and excited to see
        the app grow and evolve in the future.
      </p>
      <!-- Buttons -->
      <div class="mb-10 flex justify-between">
        <Button
          text="back to top"
          type="button"
          icon="arrow"
          className="back-to-top-button"
          iconClassName="-rotate-90"
        />
        <a href="/pinksofahour">
          <Button text="next case study" type="button" icon="arrow" />
        </a>
      </div>
    </div>
  </main>

  <script>
    // Back to top button
    const backToTopButton = document.querySelector(".back-to-top-button");

    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    }

    if (backToTopButton) {
      backToTopButton.addEventListener("click", scrollToTop);
    }
  </script>

  <style></style>
</Layout>
