---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import bgLogo from "../assets/bg-logo.svg";
import bgCard2 from "../assets/bg-card-2.png";
import userImg from "../assets/bg-user-img.png";
import ngUI1 from "../assets/bg-ng-ui-1.jpeg";
import ngUI2 from "../assets/bg-ng-ui-2.jpeg";
import ngUI3 from "../assets/bg-ng-ui-3.jpeg";
import ngUI4 from "../assets/bg-ng-ui-4.jpeg";
---

<Layout title="berkshire grey case study">
  <Header />
  <main>
    <div class="wrapper">
      <div class="banner bg-gray">
        <div class="relative flex items-center">
          <div
            class="absolute h-full w-full bg-gradient-to-r from-black to-transparent"
          >
          </div>
          <span class="absolute left-8 text-[40px] text-white">
            BERKSHIRE <br /> GREY
          </span>
          <Image src={bgCard2} alt="bg-card-2" class="w-full object-cover" />
        </div>
        <div class="grid gap-4 p-4 pb-6 pt-6">
          <Image src={bgLogo} alt="bg-logo" class="h-8 w-auto" />
          <div class="grid gap-2">
            <h4 class="mt-2">Overview</h4>
            <p>
              Designing and developing Human Machine Interfaces (HMIs) for
              AI-enabled enterprise robotics.
            </p>
          </div>
          <div class="grid gap-2">
            <h4>Role</h4>
            <ul class="ml-4">
              <li>
                <p>
                  <span class="text-xs">&bull;</span>&nbsp;Design Lead (Mobile
                  robotics team)
                </p>
              </li>
              <li>
                <p>
                  <span class="text-xs">&bull;</span>&nbsp;Design Technologist /
                  Full Stack Developer (Picking robotics team)
                </p>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <h4>Tools & Technology</h4>
            <ul class="ml-4 grid grid-cols-2">
              <li><p><span class="text-xs">&bull;</span>&nbsp;Adobe XD</p></li>
              <li>
                <p><span class="text-xs">&bull;</span>&nbsp;React (Frontend)</p>
              </li>
              <li><p><span class="text-xs">&bull;</span>&nbsp;Figma</p></li>
              <li>
                <p><span class="text-xs">&bull;</span>&nbsp;Python (Backend)</p>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <h4>Year</h4>
            <ul class="ml-4">
              <li>
                <p>
                  <span class="text-xs">&bull;</span>&nbsp;October 2021 -
                  January 2023
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="mt-4">Background</h2>
      <Image
        src={userImg}
        alt="user-img"
        class="mb-4 mt-4 w-full object-cover"
      />
      <p class="mb-10">
        With customers expecting fast shipping, and free returns, the flow of
        e-commerce is ever increasing. Robotic automation within warehouses has
        become essential to meet these escalating expectations.
      </p>
      <h2>Mobile Robotics - Designing the Next Gen HMI.</h2>
      <p class="mb-10">
        Working on the Mobile Robotics team, I led the UX & UI design efforts to
        create an intuitive and effective user experience for operating and
        monitoring large fleets of AI-enabled robots for BGs Next Generation
        Mobile Robotic Platform, BG Flex.
      </p>
      <div class="grid gap-10">
        <Image class="shadow-2xl" src={ngUI3} alt="ng-ui-3" />
        <Image class="shadow-2xl" src={ngUI2} alt="ng-ui-2" />
        <Image class="shadow-2xl" src={ngUI1} alt="ng-ui-1" />
        <Image class="shadow-2xl" src={ngUI4} alt="ng-ui-4" />
      </div>
      <span>(Pictures from UX Design Awards)</span>
    </div>
  </main>
</Layout>

<style>
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }
  .banner p {
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
  }

  .banner h4 {
    font-size: 0.875rem;
  }
</style>
