---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import bgLogo from "../assets/berkshiregrey/bg-logo.svg";
import bgCard2 from "../assets/berkshiregrey/bg-card-2.png";
import userImg from "../assets/berkshiregrey/bg-user-img.png";
import flexbotImg from "../assets/berkshiregrey/bg-flexbot.jpg";
import pickArmImg from "../assets/berkshiregrey/bg-pick.png";
import ngUI1 from "../assets/berkshiregrey/bg-ng-ui-1.jpeg";
import ngUI2 from "../assets/berkshiregrey/bg-ng-ui-2.jpeg";
import ngUI3 from "../assets/berkshiregrey/bg-ng-ui-3.jpeg";
import ngUI4 from "../assets/berkshiregrey/bg-ng-ui-4.jpeg";
import hmiImg from "../assets/berkshiregrey/bg-hmi-book.png";
import sketch1 from "../assets/berkshiregrey/sketch-1.jpeg";
import sketch2 from "../assets/berkshiregrey/sketch-2.jpeg";
import sketch3 from "../assets/berkshiregrey/sketch-3.jpeg";
import sketch4 from "../assets/berkshiregrey/sketch-4.jpeg";
import sketch5 from "../assets/berkshiregrey/sketch-5.jpeg";
import sketch6 from "../assets/berkshiregrey/sketch-6.jpeg";
import sketch7 from "../assets/berkshiregrey/sketch-7.jpeg";
import sketch8 from "../assets/berkshiregrey/sketch-8.jpeg";
import sketch9 from "../assets/berkshiregrey/sketch-9.jpeg";
import sketch10 from "../assets/berkshiregrey/sketch-10.jpeg";
import sketch11 from "../assets/berkshiregrey/sketch-11.jpeg";
import sketch12 from "../assets/berkshiregrey/sketch-12.jpeg";
import sketch13 from "../assets/berkshiregrey/sketch-13.jpeg";
import sketch14 from "../assets/berkshiregrey/sketch-14.jpeg";
import sketch15 from "../assets/berkshiregrey/sketch-15.jpeg";
import sketch16 from "../assets/berkshiregrey/sketch-16.jpeg";
import sketch17 from "../assets/berkshiregrey/sketch-17.jpeg";
import sketchPick1 from "../assets/berkshiregrey/sketch-pick-1.jpeg";
import sketchPick2 from "../assets/berkshiregrey/sketch-pick-2.jpeg";
import vennDiagram from "../assets/berkshiregrey/venn-diagram.svg";
import xdIcon from "../assets/berkshiregrey/xd.png";
import figmaIcon from "../assets/berkshiregrey/figma.png";
import reactIcon from "../assets/berkshiregrey/react.png";
import pythonIcon from "../assets/berkshiregrey/python.png";
import arrowIcon from "../assets/arrow.png";
---

<Layout title="berkshire grey case study">
  <main>
    <div class="banner m-5 bg-gray">
      <div class="relative flex items-center">
        <div
          class="absolute h-full w-full bg-gradient-to-r from-black to-transparent"
        >
        </div>
        <span
          class="absolute left-8 text-[40px] text-white md:text-[60px] lg:text-[80px]"
        >
          BERKSHIRE <br /> GREY
        </span>
        <Image
          src={bgCard2}
          alt="bg-card-2"
          class="max-h-[500px] w-full object-cover"
        />
      </div>
      <div class="grid gap-4 p-4 pb-6 pt-6 md:flex md:justify-between md:px-8">
        <Image src={bgLogo} alt="bg-logo" class="mb-2 h-8 w-auto" />
        <div class="flex flex-col gap-2 md:max-w-[250px]">
          <h4 class="">Overview</h4>
          <p>
            Designing and developing Human Machine Interfaces (HMIs) for
            AI-enabled enterprise robotics, streamlining complex robotic systems
            and making them more intuitive and accessible for operators.
          </p>
        </div>
        <div class="flex flex-col gap-2 md:max-w-[300px]">
          <h4>Role</h4>
          <ul class="ml-8 list-outside list-disc">
            <li>
              <p>Design Lead (Mobile robotics team)</p>
            </li>
            <li>
              <p>
                Design Technologist / Full Stack Developer (Picking robotics
                team)
              </p>
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-2">
          <h4>Tools & Technology</h4>
          <ul
            class="ml-8 grid list-outside list-disc grid-cols-2 md:grid-cols-1"
          >
            <li><p>Adobe XD</p></li>
            <li><p>Figma</p></li>
            <li>
              <p>React (Frontend)</p>
            </li>
            <li>
              <p>Python (Backend)</p>
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-2">
          <h4>Year</h4>
          <ul class="ml-8 list-outside list-disc">
            <li>
              <p>October 2021 - January 2023</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper m-5 mx-auto">
      <h2>Background</h2>
      <Image src={userImg} alt="user-img" class="mb-5 w-full object-cover" />
      <p class="mb-5">
        With rising customer expectations for fast shipping and free returns,
        the pace of e-commerce continues to accelerate. Robotic automation in
        warehouses has become crucial to meet these growing demands.
      </p>
      <p class="mb-20">
        During my time at BG, I contributed to both the <span class="font-bold"
          >Mobile</span
        > and <span class="font-bold">Picking</span> robotic teams, each focused
        on developing unique platforms and solutions.
      </p>
      <h2>
        <span class="bg-darkGray p-1 text-white">Mobile Robotics</span>
      </h2>
      <Image
        src={flexbotImg}
        alt="flexbot-img"
        class="mb-5 w-full object-cover"
      />
      <p class="mb-20 bg-gray p-4 text-[14px]">
        Mobile Robotics leverage AI, machine learning, and sensors to manage
        fleets of autonomous robots that enhance warehouse operations, including
        order picking and inventory management.
      </p>
      <h2>Designing the Next Gen HMI.</h2>
      <p class="mb-10">
        As part of the Mobile Robotics team, I led the UX and UI design efforts
        to create an intuitive, efficient user experience for operating and
        monitoring large fleets of AI-enabled robots on Berkshire Grey’s Next
        Generation Mobile Robotic Platform, <a
          class="font-medium underline"
          href="https://www.berkshiregrey.com/resources/press-release/berkshire-grey-announces-its-next-generation-mobile-robotic-platform-bg-flex/"
          >BG Flex</a
        >
      </p>
      <div
        id="modal"
        class="fixed left-0 top-0 flex h-full w-full items-center justify-center overflow-y-hidden bg-black bg-opacity-50 backdrop-blur-sm backdrop-filter"
      >
        <div
          class="slider-wrapper relative mx-auto max-w-screen-lg overflow-hidden p-4"
        >
          <div
            class="slider no-scrollbar flex snap-x snap-mandatory gap-4 overflow-x-auto overscroll-x-contain scroll-smooth"
          >
            <Image class="snap-start shadow-2xl" src={ngUI1} alt="ng-ui-1" />
            <Image class="snap-start shadow-2xl" src={ngUI2} alt="ng-ui-2" />
            <Image class="snap-start shadow-2xl" src={ngUI3} alt="ng-ui-3" />
            <Image class="snap-start shadow-2xl" src={ngUI4} alt="ng-ui-4" />
          </div>
          <div>
            <button id="close-modal-button">close</button>
          </div>
        </div>
      </div>
      <div class="mb-2 grid gap-10">
        <Image
          class="shadow-2xl"
          src={ngUI1}
          alt="ng-ui-1"
          id="open-modal-button"
        />
        <Image class="shadow-2xl" src={ngUI2} alt="ng-ui-2" />
        <Image class="shadow-2xl" src={ngUI3} alt="ng-ui-3" />
        <Image class="shadow-2xl" src={ngUI4} alt="ng-ui-4" />
      </div>
      <p class="mb-20 text-[12px]">
        (Pictures from <a
          target="_blank"
          class="font-medium underline"
          href="https://ux-design-awards.com/winners/berkshire-grey-flex-next-gen-hmi"
          >UX Design Awards</a
        >)
      </p>
      <p class="mb-10">
        My involvement with the Next Generation HMI included everything from
        <span class="font-bold">conducting user research</span> and <span
          class="font-bold">drafting product requirements</span
        > to <span class="font-bold">creating interactive mockups</span> and even
        <span class="font-bold">pushing code</span> changes.
      </p>
      <p class="mb-10">
        Additionally I created and maintained the new <span class="font-bold"
          >design system</span
        > as well as all feature <span class="font-bold"
          >workflow documentation</span
        >.
      </p>
      <p class="mb-20">
        In addition to designing the BG Flex HMI, I developed user interfaces
        for key workflows, including a maintenance page and map editor, while
        continuously improving the existing HMI through iterative updates.
      </p>
      <Image
        src={hmiImg}
        alt="hmi-book"
        class="mx-auto mb-10 w-full max-w-[400px] object-cover"
      />
      <p class="mb-10">
        Due to the complex nature of the system, best practices from <a
          target="_blank"
          class="font-medium underline"
          href="https://www.kobo.com/us/en/ebook/the-high-performance-hmi-handbook"
          >The High Performance HMI Handbook</a
        > were followed.
      </p>
      <p class="mb-10">
        This included designing for the various levels of interaction required
        by users.
      </p>
      <ul class="mb-20 ml-8 list-outside list-disc">
        <li>
          <p>
            <span class="font-bold">Level 1 - Process Area Overview:</span> The main
            overview display focuses on important items while displaying alarms and
            alerts in a cogent and easily determinable manner.
          </p>
        </li>
        <li>
          <p>
            <span class="font-bold">Level 2 - Process Unit Control:</span> Sub-processes,
            variables, and control manipulation for reactions.
          </p>
        </li>
        <li>
          <p>
            <span class="font-bold">Level 3 - Process Unit Detail:</span> Further
            detailed examination. Individual machine controls, specific alarm displays,
            and information details.
          </p>
        </li>
        <li>
          <p>
            <span class="font-bold"
              >Level 4 - Process Unit Support and Diagnostic Display:</span
            > Troubleshooting information, possibly P&ID, and anything else that
            is not important for operation but necessary for maintenance and management.
          </p>
        </li>
      </ul>
      <h2>Sketches</h2>
    </div>
    <div class="mb-20 bg-darkGray p-6 md:flex md:gap-4">
      <div class="relative flex flex-col gap-4">
        <div
          id="see-more-button-container"
          class="absolute h-full w-full bg-gradient-to-t from-darkGray to-transparent md:hidden"
        >
          <button
            id="see-more-button"
            type="button"
            class="absolute bottom-1 left-1/2 flex -translate-x-1/2 justify-center rounded-sm border border-white px-4 py-2 text-white"
            >See more</button
          >
        </div>
        <Image src={sketch1} alt={"sketch-1"} />
        <div class="grid grid-cols-2 items-center gap-4">
          <Image src={sketch2} alt={"sketch-2"} class="h-full" />
          <Image src={sketch3} alt={"sketch-3"} class="h-full" />
        </div>
        <Image src={sketch4} alt={"sketch-4"} />
      </div>
      <div id="hidden-sketch" class="relative hidden gap-4 md:flex md:flex-col">
        <Image src={sketch5} alt={"sketch-5"} />
        <div class="grid grid-cols-2 items-center gap-4">
          <Image src={sketch6} alt={"sketch-6"} class="h-full" />
          <Image src={sketch7} alt={"sketch-7"} class="h-full" />
        </div>
        <Image src={sketch8} alt={"sketch-8"} />
      </div>
      <div class="grid-rows hidden gap-4 md:flex md:flex-col">
        <Image src={sketch9} alt={"sketch-9"} />
        <Image src={sketch10} alt={"sketch-10"} />
        <div class="grid grid-cols-2 items-center gap-4">
          <Image src={sketch11} alt={"sketch-11"} class="h-full" />
          <Image src={sketch12} alt={"sketch-12"} class="h-full" />
        </div>
        <!-- <Image src={sketch13} alt={"sketch-13"} /> -->
      </div>
      <div class="grid-rows hidden gap-4 md:flex md:flex-col">
        <div class="grid grid-cols-2 items-center gap-4">
          <Image src={sketch14} alt={"sketch-14"} class="h-full" />
          <Image src={sketch15} alt={"sketch-15"} class="h-full" />
        </div>
        <Image src={sketch16} alt={"sketch-16"} />
        <Image src={sketch17} alt={"sketch-17"} />
      </div>
    </div>
    <div class="wrapper m-5 mx-auto">
      <h2>
        <span class="bg-darkGray p-1 text-white">Picking Robotics</span>
      </h2>
      <Image
        src={pickArmImg}
        alt="flexbot-img"
        class="mb-5 w-full object-cover"
      />
      <p class="mb-20 bg-gray p-4 text-[14px]">
        Picking Robotics include picking arms, put walls, and package sortation
        platforms. Together, these technologies automate costly processes for
        fulfilling customer orders and stocking shelves, significantly reducing
        cost and time.
      </p>
      <h2>Design Technologist</h2>
      <p class="mb-10">
        As part of the Picking Robotics team, I worked as a Design Technologist,
        bridging both design and development tasks.
      </p>
      <Image
        src={vennDiagram}
        alt="venn-diagram"
        class="mb-10 ml-auto mr-auto w-80 object-cover"
      />
      <p class="mb-10">
        I worked as a full-stack developer, using React and Python within a
        broader ROS (Robot Operating System) framework to ensure seamless
        functionality and deliver an optimal user experience.
      </p>
      <div class="mx-auto mb-10 grid w-1/2 grid-cols-2 gap-4 md:w-1/4">
        <Image src={xdIcon} alt="xd-icon" />
        <Image src={reactIcon} alt="react-icon" />
        <Image src={figmaIcon} alt="figma-icon" />
        <Image src={pythonIcon} alt="python-icon" />
      </div>
      <p class="mb-10">
        My responsibilities included designing new screens to support
        customer-requested workflows, as well as fixing bugs and implementing
        updates across various HMIs for BG's diverse customer base, each with
        unique requirements.
      </p>
      <h2>Sketches</h2>
      <div class="mb-10 bg-darkGray p-6">
        <div class="grid-rows relative grid gap-4">
          <Image src={sketchPick1} alt={"sketch-pick"} />
          <Image src={sketchPick2} alt={"sketch-pick"} />
        </div>
      </div>
      <h2>Conclusion</h2>
      <p class="mb-10">
        I gained significant experience during my time at Berkshire Grey. As the
        sole designer on the Mobile team, I was allowed to tackle a diverse
        range of tasks giving me valuable hands-on experience with each step of
        the design process.
      </p>
      <p class="mb-20">
        When I transitioned to the Picking Robotics team, I had the chance to
        further broaden my skillset by diving deeper into development, expanding
        my role beyond design into coding and technical implementation. This
        experience greatly enhanced my understanding of both design and
        development workflows.
      </p>
      <div class="mb-10 flex justify-between">
        <button
          id="back-to-top-button"
          class="mb-4 flex min-w-12 items-center gap-2 rounded-sm border-2 border-black pb-2 pl-4 pr-4 pt-2 shadow-[3px_3px_0px_1px_black]"
          ><Image
            class="w-4 -rotate-90"
            src={arrowIcon}
            alt="up arrow icon"
          />back to top</button
        >
        <a href="/toast"
          ><button
            class="flex min-w-12 items-center gap-2 rounded-sm border-2 border-black pb-2 pl-4 pr-4 pt-2 shadow-[3px_3px_0px_1px_black]"
            >next case study<Image
              class="w-4"
              src={arrowIcon}
              alt="up arrow icon"
            /></button
          ></a
        >
      </div>
    </div>
  </main>
</Layout>

<script>
  const seeMoreButton = document.getElementById("see-more-button");
  const backToTopButton = document.getElementById("back-to-top-button");
  const closeModalButton = document.getElementById("close-modal-button");
  const openModalButton = document.getElementById("open-modal-button");

  function seeMore() {
    const hiddenSketch = document.getElementById("hidden-sketch");
    const buttonContainer = document.getElementById(
      "see-more-button-container",
    );

    if (!hiddenSketch || !buttonContainer) return;

    if (hiddenSketch.classList.contains("hidden")) {
      hiddenSketch.classList.remove("hidden");
      hiddenSketch.classList.add("grid");
      buttonContainer.classList.add("hidden");
    }
  }

  if (seeMoreButton) {
    seeMoreButton.addEventListener("click", seeMore);
  }

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  if (backToTopButton) {
    backToTopButton.addEventListener("click", scrollToTop);
  }

  function openModal() {
    const modal = document.getElementById("modal");
    if (modal) {
      modal.classList.remove("hidden");
    }
  }

  if (openModalButton) {
    openModalButton.addEventListener("click", openModal);
  }

  function closeModal() {
    const modal = document.getElementById("modal");
    if (modal) {
      modal.classList.add("hidden");
    }
  }

  if (closeModalButton) {
    closeModalButton.addEventListener("click", closeModal);
  }
</script>

<style>
  .banner p {
    font-size: 0.875rem;
  }

  .banner h4 {
    font-size: 0.875rem;
    font-weight: bold;
  }
</style>
