---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EnsoLottie from "../components/EnsoLottie.tsx";

// Case study card images
import berkshireBg from "../assets/berkshiregrey/bg-background.png";
import toastBg from "../assets/toast/toast-background.jpg";
import pshHome from "../assets/pinksofahour/psh-home.png";
import grammarokeCard from "../assets/grammaroke/grammaroke.png";
import cosplayCard from "../assets/cosplay/cosplay.jpg";
---

<Layout title="Joe Nguyen | Product Designer" isIndex={true}>
  <main class="mx-4 mb-10 mt-[80px] grid gap-5">
    <!-- Intro Section -->
    <div class="flex pt-3 sm:flex-col sm:items-center sm:text-center">
      <!-- Text -->
      <div class="flex w-1/2 flex-col justify-center sm:mb-20 sm:w-full">
        <!-- <div class="mb-0 text-3xl font-bold">Joe</div> -->
        <div class="mb-5 text-lg font-bold">Designer & Engineer</div>
        <p class="mb-0 text-lg">
          Passionate about the space where people and technology meet.
        </p>
      </div>
      <!-- Lottie -->
      <div
        class="my-auto w-1/2 max-w-[300px] sm:order-first"
        id="lottie-container"
      >
        <EnsoLottie client:only />
      </div>
    </div>
    <!-- Case Studies Section -->
    <div class="mx-auto mb-10 grid max-w-screen-md gap-10 sm:grid-cols-2">
      <ProjectCard
        href="/berkshiregrey"
        title="Berkshire Grey"
        body="Designing HMI's (Human Machine Interface) for AI-Enabled Enterprise Robotics"
        bgImg={berkshireBg}
      />
      <ProjectCard
        href="/pinksofahour"
        title="Pink Sofa Hour"
        body="Web design for a local music studio, cultivating community by connecting artists and audiences."
        bgImg={pshHome}
      />
      <ProjectCard
        href="/toast"
        title="Toast"
        body="Designing a mobile QR-based pay-at-the-table service for restaurants."
        bgImg={toastBg}
      />
      <ProjectCard
        href="/grammaroke"
        title="Grammaroke"
        body="Designing a language learning web app. Study and sing along to your favorite songs."
        bgImg={grammarokeCard}
      />
      <!-- <ProjectCard
        href="/cosplay"
        title="Cosplay Closet"
        body="Designing a social media platform for cosplayers to connect and share projects."
        bgImg={cosplayCard}
      /> -->
    </div>
  </main>
</Layout>
