---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EnsoLottie from "../components/EnsoLottie.tsx";

// Case study card images
import bgCard1 from "../assets/berkshiregrey/bg-card-1.png";
import bgCard2 from "../assets/berkshiregrey/bg-card-2.png";
import ngUI1 from "../assets/berkshiregrey/bg-ng-ui-1.jpeg";

import toastCard1 from "../assets/toast/toast-card-1.jpg";
import toastCard2 from "../assets/toast/toast-card-2.jpg";
import toastUI from "../assets/toast/toast-ui.png";
---

<Layout title="Welcome to joengyn portfolio.">
  <Header />
  <main class="mx-5">
    <div class="my-12 grid grid-cols-2">
      <div class="flex h-48 flex-col justify-center">
        <div class="mb-4 text-3xl font-bold">Hi, I'm Joe</div>
        <p class="max-w-44 text-lg">
          A designer who enjoys bringing together people and technology.
        </p>
      </div>
      <EnsoLottie client:only />
    </div>
    <ProjectCard
      href="/berkshiregrey"
      title="Berkshire Grey"
      body="Designing HMI's (Human Machine Interface) for AI-Enabled Enterprise Robotics"
      card1={bgCard1}
      card2={bgCard2}
      uiImage={ngUI1}
    />
    <ProjectCard
      href="/toast"
      title="Toast"
      body="Designing a new mobile QR code based restaurant service product."
      card1={toastCard2}
      card2={toastCard2}
      uiImage={toastUI}
    />
    <!-- <ProjectCard
      href="/grammaroke"
      title="Grammaroke"
      body="Language learning web app. Study and sing along to your favorite songs."
      card1={bgCard1}
      card2={bgCard2}
      uiImage={ngUI1}
    />
    <ProjectCard
      href="/cosplaycloset"
      title="Cosplay Closet"
      body="Designing a social media platform for cosplayers to connect and share projects."
      card1={bgCard1}
      card2={bgCard2}
      uiImage={ngUI1}
    /> -->
  </main>
</Layout>
