---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EnsoLottie from "../components/EnsoLottie.tsx";

// Case study card images
import berkshireBg from "../assets/berkshiregrey/bg-background.png";
import bandscanBg from "../assets/bandscan/fox-theater.jpg";
import pshBg from "../assets/pinksofahour/studio.jpg";
import toastBg from "../assets/toast/restaurant.jpg";
---

<Layout title="Joe Nguyen | Designer & Engineer" isIndex={true}>
  <main class="mx-4 mb-10 mt-[80px] grid gap-5">
    <!-- Intro Section -->
    <div class="flex pt-3 sm:flex-col sm:items-center sm:text-center">
      <!-- Text -->
      <div class="flex w-1/2 flex-col justify-center sm:mb-20 sm:w-full">
        <!-- <div class="mb-0 text-3xl font-bold">Joe</div> -->
        <div class="mb-5 text-lg font-bold">Designer & Engineer</div>
        <p class="mb-0 text-lg">
          Passionate about the space where people and technology meet.
        </p>
      </div>
      <!-- Lottie -->
      <div
        class="my-auto w-1/2 max-w-[300px] sm:order-first"
        id="lottie-container"
      >
        <EnsoLottie client:only />
      </div>
    </div>
    <!-- Case Studies Section -->
    <div class="mx-auto mb-10 grid max-w-screen-md gap-10 sm:grid-cols-2">
      <ProjectCard
        href="/berkshiregrey"
        title="Berkshire Grey"
        body="Design of Human Machine Interfaces (HMIs) for AI-enabled enterprise robotics"
        bgImg={berkshireBg}
        className="delay-0"
      />
      <ProjectCard
        href="/bandscan"
        title="Bandscan"
        body="Design and development of a mobile app for discovering local artists and live music events"
        bgImg={bandscanBg}
        className="sm:delay-0 md:delay-500"
      />
      <ProjectCard
        href="/pinksofahour"
        title="Pink Sofa Hour"
        body="Web design for a local music studio, cultivating community by connecting artists and audiences"
        bgImg={pshBg}
        className="sm:delay-0 md:delay-1000"
      />
      <ProjectCard
        href="/toast"
        title="Toast"
        body="Design of a mobile QR-based pay-at-the-table service for restaurants"
        bgImg={toastBg}
        className="sm:delay-0 md:delay-[1.5s]"
      />
    </div>
  </main>
</Layout>

<script>
  // Animation for project cards
  document.addEventListener("DOMContentLoaded", () => {
    const projects = document.querySelectorAll("[data-project-card]");

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-10");
          entry.target.classList.add("opacity-100", "translate-y-0");
        }
      });
    });

    projects.forEach((project) => {
      observer.observe(project);
    });
  });
</script>
