---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EnsoLottie from "../components/EnsoLottie.tsx";

// Case study card images
import bgCard1 from "../assets/berkshiregrey/bg-card-1.png";
import bgCard2 from "../assets/berkshiregrey/bg-card-2.png";
import ngUI1 from "../assets/berkshiregrey/bg-ng-ui-1.jpeg";

import toastCard1 from "../assets/toast/toast-card-1.jpg";
import toastCard2 from "../assets/toast/toast-card-2.jpg";
import toastUI from "../assets/toast/toast-ui.png";
---

<Layout title="Welcome to joengyn portfolio.">
  <main class="mx-5 mb-10 mt-[120px] grid gap-10">
    <div class="flex sm:flex-col sm:items-center sm:text-center">
      <div class="flex w-1/2 flex-col justify-center sm:mb-20 sm:w-full">
        <div class="mb-5 text-3xl font-bold">Hi, I'm Joe</div>
        <p class="text-lg">
          A designer who enjoys bringing together people and technology.
        </p>
      </div>
      <div class="w-1/2 max-w-[300px] sm:order-first">
        <EnsoLottie client:only />
      </div>
    </div>
    <div class="mx-auto mb-10 grid max-w-screen-md gap-10 sm:grid-cols-2">
      <ProjectCard
        href="/berkshiregrey"
        title="Berkshire Grey"
        body="Designing HMI's (Human Machine Interface) for AI-Enabled Enterprise Robotics"
        card1={bgCard1}
        card2={bgCard2}
        uiImage={ngUI1}
      />
      <ProjectCard
        href="/toast"
        title="Toast"
        body="Designing a mobile QR-based pay-at-the-table service for restaurants"
        card1={toastCard2}
        card2={toastCard2}
        uiImage={toastUI}
      />
      <ProjectCard
        href="/grammaroke"
        title="Grammaroke"
        body="Language learning web app. Study and sing along to your favorite songs."
        card1={bgCard1}
        card2={bgCard2}
        uiImage={ngUI1}
      />
      <ProjectCard
        href="/cosplaycloset"
        title="Cosplay Closet"
        body="Designing a social media platform for cosplayers to connect and share projects."
        card1={bgCard1}
        card2={bgCard2}
        uiImage={ngUI1}
      />
    </div>
  </main>
</Layout>
