---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EnsoLottie from "../components/EnsoLottie.tsx";

// Case study card images
import bgCard1 from "../assets/berkshiregrey/bg-card-1.png";
import bgCard2 from "../assets/berkshiregrey/bg-card-2.png";
import ngUI1 from "../assets/berkshiregrey/bg-ng-ui-1.jpeg";

import pshHome from "../assets/pinksofahour/psh-home.png";

import toastCard1 from "../assets/toast/toast-card-1.jpg";
import toastCard2 from "../assets/toast/toast-card-2.jpg";
import toastUI from "../assets/toast/toast-ui.png";

import grammarokeCard from "../assets/grammaroke/grammaroke.png";

import cosplayCard from "../assets/cosplay/cosplay.jpg";
---

<Layout title="Welcome to joengyn portfolio.">
  <!-- Intro Section -->
  <main class="mx-5 mb-10 mt-[100px] grid gap-10">
    <div class="flex sm:flex-col sm:items-center sm:text-center">
      <!-- Text -->
      <div class="flex w-1/2 flex-col justify-center sm:mb-20 sm:w-full">
        <div class="mb-5 text-3xl font-bold">Hi, I'm Joe</div>
        <p class="mb-0 text-lg">
          A designer who enjoys bringing together people and technology.
        </p>
      </div>
      <!-- Lottie -->
      <div class="my-auto w-1/2 max-w-[300px] sm:order-first">
        <EnsoLottie client:only />
      </div>
    </div>
    <!-- Case Studies Section -->
    <div class="mx-auto mb-10 grid max-w-screen-md gap-10 sm:grid-cols-2">
      <ProjectCard
        href="/berkshiregrey"
        title="Berkshire Grey"
        body="Designing HMI's (Human Machine Interface) for AI-Enabled Enterprise Robotics"
        card1={bgCard1}
        card2={bgCard2}
      />
      <ProjectCard
        href="/pinksofahour"
        title="Pink Sofa Hour"
        body="Designing the website for The Pink Sofa Hour, a Colorado based YouTube show focused on the local music community."
        card1={pshHome}
        card2={pshHome}
      />
      <ProjectCard
        href="/toast"
        title="Toast"
        body="Designing a mobile QR-based pay-at-the-table service for restaurants"
        card1={toastCard2}
        card2={toastCard2}
      />
      <ProjectCard
        href="/grammaroke"
        title="Grammaroke"
        body="Designing a language learning web app. Study and sing along to your favorite songs."
        card1={grammarokeCard}
        card2={grammarokeCard}
      />
      <ProjectCard
        href="/cosplay"
        title="Cosplay Closet"
        body="Designing a social media platform for cosplayers to connect and share projects."
        card1={cosplayCard}
        card2={cosplayCard}
      />
    </div>
  </main>
</Layout>
