---
// Imports
import { Image } from "astro:assets";

// Components
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Button from "../components/Button.astro";
import ImageSlider from "../components/ImageSlider.astro";

// Banner Assets
import pshLogo from "../assets/pinksofahour/psh-logo.png";
import pshBG from "../assets/pinksofahour/psh-home.png";

// Images
import pshColor from "../assets/pinksofahour/psh-brand-color.jpg";
import pshTypo from "../assets/pinksofahour/psh-brand-typo.jpg";
import pshCopy from "../assets/pinksofahour/psh-brand-copy.jpg";
import pshExample from "../assets/pinksofahour/psh-brand-example.png";
import oldDesign from "../assets/pinksofahour/psh-old.png";
import pshInterview from "../assets/pinksofahour/psh-interview.jpg";
import aboutPage from "../assets/pinksofahour/psh-about.png";
import missionPage from "../assets/pinksofahour/psh-mission.png";
import teamPage from "../assets/pinksofahour/psh-team.png";
import storyPage from "../assets/pinksofahour/psh-story.png";
import wixPage from "../assets/pinksofahour/psh-wix.png";
import blogPage from "../assets/pinksofahour/psh-blog.png";
import shopPage from "../assets/pinksofahour/psh-shop.png";
import shopItem from "../assets/pinksofahour/psh-shop-item.png";
import sponsorshipPage from "../assets/pinksofahour/psh-sponsorship.png";
import blogPostPage from "../assets/pinksofahour/psh-blogpost.png";
import jamPage from "../assets/pinksofahour/psh-jam.png";
import giveawayPage from "../assets/pinksofahour/psh-giveaway.png";
import couchedPage from "../assets/pinksofahour/couched-home.png";
const images = [
  pshBG,
  aboutPage,
  missionPage,
  storyPage,
  wixPage,
  blogPage,
  shopPage,
  sponsorshipPage,
  couchedPage,
];
---

<Layout title="Joe Nguyen | Pink Sofa Hour Case Study">
  <main class="mt-[100px]">
    <!-- Image Slider -->
    <!-- <ImageSlider images={images} /> -->
    <!-- Banner -->
    <Banner
      title="Pink Sofa Hour"
      bgImg={pshBG}
      bgImgAlt="Homepage of the Pink Sofa Hour website"
      logo={pshLogo}
      logoAlt="Pink Sofa Hour logo"
      overview="Web designer for The Pink Sofa Hour, a Colorado based live-streamed YouTube interview show focused on the local music community."
      roles={["Web Designer"]}
      tools={["Wix Studio"]}
      year="October 2024 - December 2024"
    />
    <div class="wrapper">
      <!-- Overview Section -->
      <h2>Background</h2>
      <Image
        src={pshInterview}
        alt="Pink Sofa Hour interview show"
        class="mb-2 w-full object-cover"
      />
      <figcaption class="mb-10 text-center text-sm">
        The Pink Sofa Hour interview show
      </figcaption>
      <p>
        In today’s music landscape, discovery is effortless, but real connection
        is scarce. Streaming services like Spotify offer unlimited access to
        music, yet their algorithm-driven approach often prioritizes convenience
        over community, making it easy to listen but hard to engage.
      </p>
      <p class="mb-20">
        The Pink Sofa Hour was created to bridge that gap—bringing Colorado’s
        most talented musicians to the forefront through curated shows,
        live-streamed interviews, and community events, all designed to foster a
        deeper connection between artists and audiences.
      </p>
      <h2>Welcome to the Pink Sofa Hour</h2>
      <p>
        I redesigned the website for <a
          href="https://pinksofahour.com"
          style="color: #d023a5; text-decoration: underline; font-weight: 600;"
          ><em>The Pink Sofa Hour</em></a
        >, a Colorado based live-streamed YouTube interview show focused on the
        local music community.
      </p>
      <p class="mb-20">
        The new site better showcases the brands bold and funky style, as well
        as adds more functionality for cultivating connections between artists
        and audiences, a core value of the show.
      </p>
      <!-- Images -->
      <Image
        class="open-modal-button mb-2 w-full cursor-pointer object-cover"
        src={pshBG}
        alt="Pink Sofa Hour home page"
        data-index="0"
      />
      <figcaption class="mb-10 text-center text-sm">Home page</figcaption>
      <div class="mb-2 grid">
        <Image
          class="mb-2"
          src={aboutPage}
          alt="Pink Sofa Hour about page"
          data-index="1"
        />
        <figcaption class="mb-10 text-center text-sm">About page</figcaption>
        <Image
          class="mb-2"
          src={missionPage}
          alt="Pink Sofa Hour mission page"
          data-index="2"
        />
        <figcaption class="mb-10 text-center text-sm">Mission page</figcaption>
        <Image
          class="mb-2"
          src={storyPage}
          alt="Pink Sofa Hour story page"
          data-index="3"
        />
        <figcaption class="mb-20 text-center text-sm">Story page</figcaption>
      </div>
      <h2>Previous Web Design</h2>
      <Image
        class="mb-2"
        src={oldDesign}
        alt="Previous Pink Sofa Hour home"
        data-index=""
      />
      <figcaption class="mb-10 text-center text-sm">
        Previous website home page
      </figcaption>
      <p>
        The previous site had limited content and a layout that didn’t make
        effective use of space. It also underutilized colors and typography,
        missing the chance to fully capture the brand’s playful style.
      </p>
      <p class="mb-20">
        Working with branding specialist <a
          href="https://bixalot.com"
          style="color: #d023a5; text-decoration: underline; font-weight: 600;"
          ><em>Bixalot</em></a
        >, proper style guides were created to ensure the new site aligned with
        the Pink Sofa Hour's identity across social media and other platforms.
      </p>
      <h2>New Brand Guidelines</h2>
      <div class="mb-2 grid grid-cols-2">
        <Image
          class="mb-2"
          src={pshColor}
          alt="Brand Guidelines: Color"
          data-index=""
        />
        <Image
          class="mb-2"
          src={pshTypo}
          alt="Brand Guidelines: Typography"
          data-index=""
        />
        <Image
          class="mb-2"
          src={pshCopy}
          alt="Brand Guidelines: Color"
          data-index=""
        />
        <Image
          class="mb-2"
          src={pshExample}
          alt="Brand Guidelines: Typography"
          data-index=""
        />
      </div>
      <figcaption class="mb-20 text-center text-sm">
        Brand Guidelines for Color, Typography, and Copy
      </figcaption>
      <h2>Designing with Wix Studio</h2>
      <p>
        The site was built with Wix Studio, leveraging the platform’s diverse
        features. These included a blog for music-related reviews, an integrated
        shop for merchandise sales, and email marketing tools to gather
        submissions for giveaways and events.
      </p>
      <div class="mb-2 grid">
        <Image
          class="mb-2"
          src={wixPage}
          alt="Wix Studio interface of Pink Sofa Hour"
          data-index="4"
        />
        <figcaption class="mb-10 text-center text-sm">
          Wix Studio interface
        </figcaption>
        <Image
          class="mb-2"
          src={blogPage}
          alt="Pink Sofa Hour blog page"
          data-index="5"
        />
        <figcaption class="mb-10 text-center text-sm">Blog page</figcaption>
        <Image
          class="mb-2"
          src={shopItem}
          alt="Pink Sofa Hour shop item page"
          data-index="6"
        />
        <figcaption class="mb-10 text-center text-sm">
          Shop item page
        </figcaption>
        <Image
          class="mb-2"
          src={sponsorshipPage}
          alt="Pink Sofa Hour sponsorship page"
          data-index="7"
        />
        <figcaption class="mb-20 text-center text-sm">
          Sponsorship page
        </figcaption>
      </div>
      <!-- Conclusion -->
      <h2>Conclusion</h2>
      <p>
        The redesigned Pink Sofa Hour website successfully enhances the brand’s
        online presence and streamlines user interaction, aligning with the
        show’s mission to foster meaningful connections within the music
        community. By combining vibrant design with practical functionality, the
        new site provides an engaging platform for artists and audiences alike.
      </p>
      <p>
        Looking ahead, a new site is currently under development for the parent
        company, <a
          href="https://couchedmedia.com"
          style="color: #112536; text-decoration: underline; font-weight: 600;"
          ><em>Couched Media</em></a
        >, which will expand on these design principles and offer a more
        comprehensive digital experience for both the local music scene and the
        broader creative community.
      </p>
      <Image
        class="mb-2"
        src={couchedPage}
        alt="Couched Media homepage"
        data-index="8"
      />
      <figcaption class="mb-10 text-center text-sm">
        Preview of the Couched Media website
      </figcaption>
      <!-- Buttons -->
      <div class="mb-10 flex justify-between">
        <Button
          text="back to top"
          type="button"
          icon="arrow"
          className="back-to-top-button"
          iconClassName="-rotate-90"
        />
        <a href="/toast">
          <Button text="next case study" type="button" icon="arrow" />
        </a>
      </div>
    </div>
  </main>

  <script>
    // Back to top button
    const backToTopButton = document.querySelector(".back-to-top-button");

    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    }

    if (backToTopButton) {
      backToTopButton.addEventListener("click", scrollToTop);
    }
  </script>

  <style></style>
</Layout>
