---
// Imports
import { Image } from 'astro:assets';

// Components
import Banner from '../components/Banner.astro';
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';

import toastLogo from '../assets/toast/toast-logo.svg';
import toastBg from '../assets/toast/restaurant.webp';

import toastIntro from '../assets/toast/toast-intro.webp';
import toastUI from '../assets/toast/toast-ui.webp';
import toastUI2 from '../assets/toast/toast-ui-2.webp';
import toastMp4 from '../assets/toast/toast-ui.mp4';
import toastImg from '../assets/toast/toast-img.webp';
---

<Layout title='Joe Nguyen | Toast Case Study'>
  <main class='mt-[100px]'>
    <!-- Banner -->
    <Banner
      title='Toast'
      bgImg={toastBg}
      bgImgAlt='Toast background image'
      logo={toastLogo}
      logoAlt='Toast logo'
      overview='Design of a mobile QR code based pay-at-the-table service, providing customers with a safer dining experience and increasing sales for restaurants.'
      roles={['UX Design Intern']}
      tools={['Figma']}
      duration='3 months'
    />
    <div class='wrapper'>
      <!-- Background -->
      <h2>Background</h2>
      <Image src={toastImg} alt='Introduction image' class='mb-2' />
      <figcaption class='mb-10 text-center text-sm'>
        Toast Restaurant service
      </figcaption>
      <p>
        In the summer of 2021, as the world was starting to recover from the
        COVID-19 pandemic, I joined the <b>Toast Mobile Order & Pay</b> team. While
        quarantine restrictions were easing, many diners remained cautious about
        in-person interactions, particularly with waitstaff. To address these concerns,
        Toast sought to streamline the dining experience by enabling guests to order
        and pay directly from their phones using a QR code.
      </p>
      <!-- <p>
        The product faced mixed reactions from users. Some embraced the
        convenience and felt that it represented the future of dining
        technology, especially in the context of a pandemic. Others, however,
        felt that this stripped away the personal, human element that many
        people cherish when dining out. The tension between technology and
        tradition created a complex landscape for the app to navigate.
      </p>
      <p class='mb-20'>
        My role on the team was multifaceted, involving design, research, and
        user experience improvements. The challenge was not only to refine the
        app but also to address the evolving needs of customers and restaurants
        as the product adapted to a rapidly changing world.
      </p> -->
      <!-- My Role -->
      <Image src={toastIntro} alt='Introduction image' class='mb-2' />
      <video autoplay loop muted playsinline class='mb-2'>
        <source src={toastMp4} type='video/mp4' />
        Your browser does not support the video tag.
      </video>
      <figcaption class='mb-20 text-center text-sm'>
        Toast Mobile Order & Pay UI
      </figcaption>
      <h2>Role & Responsibilities</h2>
      <p>
        I joined the team as a <b>UX Design Intern</b>, focusing on improving
        the app’s design and conducting user research.
      </p>
      <p>
        My first major task was to <b>map out the current state of the app</b>.
        Since the product had been developed rapidly in response to an urgent
        need, there was no single “source of truth” for its design or
        functionality. This led to inconsistencies across the product, such as
        mismatched text and components. I cataloged the app’s features,
        identified these inconsistencies, and worked to refine the design for a
        more cohesive user experience.
      </p>
      <Image src={toastUI} alt='Toast UI image' class='mb-2' />
      <figcaption class='mb-10 text-center text-sm'>
        Toast Mobile Order & Pay UI
      </figcaption>
      <p>
        Beyond design improvements, I also <b>conducted user research</b> to understand
        this evolving market. Since the product was still adapting, there were many
        unknowns, and gathering real-world insights was critical.
      </p>
      <p>My tasks included:</p>
      <ul class='ml-8 list-outside list-disc'>
        <li>
          <p>
            <span class='font-bold'>Setting up user research studies</span> and drafting
            questionnaires
          </p>
        </li>
        <li>
          <p>
            <span class='font-bold'>Recruiting participants</span> for interviews
            and usability tests
          </p>
        </li>
        <li>
          <p>
            <span class='font-bold'>Conducting interviews</span>, online,
            in-person and via phone
          </p>
        </li>
        <li>
          <p>
            <span class='font-bold'>Performing observational research</span> in real-world
            settings, such as restaurants
          </p>
        </li>
        <li>
          <p>
            <span class='font-bold'>Analyzing and presenting findings</span> to guide
            product decisions
          </p>
        </li>
      </ul>
      <p class='mb-20'>
        These efforts provided valuable insights into customer behaviors and
        preferences, shaping future iterations of the app and helping balance
        technology with the dining experience users expected.
      </p>
      <!-- Key Challenges -->
      <h2>Key Challenges</h2>
      <p>
        Balancing Technology and Human Interaction: Many users were resistant to
        the idea of using technology to replace personal interactions at
        restaurants. The challenge was not just making the app functional but
        ensuring that it supported the dining experience without alienating
        customers who valued personal service.
      </p>
      <p>
        Adapting to Rapid Change: The product was in a fast-moving and
        competitive space, requiring constant iteration and adaptation to
        changing customer expectations and market trends. This made it difficult
        to set long-term strategies but also created an exciting, high-stakes
        environment.
      </p>
      <p class='mb-20'>
        Design Consistency: With the product being built rapidly and evolving
        quickly, maintaining design consistency was a key challenge. Ensuring
        that small elements like text styles and button components were aligned
        was crucial for creating a polished, user-friendly experience.
      </p>
      <!-- Learnings -->
      <h2>Learnings</h2>
      <p>
        Working on Toast’s “Order & Pay” app during such a critical and dynamic
        time provided several valuable lessons:
      </p>
      <p>
        Impact of Real-World Observations: Conducting in-person research and
        observing how people interacted with the app and other restaurant
        technology gave me a deeper understanding of human behavior. Seeing
        firsthand how customers responded to technology in the restaurant
        environment reinforced how embedded food service is within cultural
        norms.
      </p>
      <p>
        Navigating the Tension Between Tradition and Innovation: The biggest
        takeaway was learning how to balance technological advancement with the
        preservation of essential human experiences. While some customers
        embraced the convenience of mobile ordering, others wanted to maintain
        personal connections with waitstaff. Finding ways to merge both was key
        to ensuring broader adoption.
      </p>
      <p class='mb-20'>
        The Speed of the Food-Tech Industry: The restaurant self-service market
        was rapidly growing, which made it a highly competitive and fast-paced
        field. This environment taught me how to work under pressure, prioritize
        quickly, and adapt to frequent changes in customer needs.
      </p>
      <!-- Conclusion -->
      <h2>Conclusion</h2>
      <p>
        My time at Toast was a unique opportunity to work on a product that had
        a tangible impact on people's everyday lives. The “Order & Pay” app was
        at the intersection of technology and tradition, aiming to redefine the
        dining experience. As Toast carved out its place in the competitive
        mobile restaurant space, I gained invaluable insights into design, user
        behavior, and the challenges of innovating in a fast-evolving market.
        The experience reinforced the importance of understanding user needs in
        both the digital and real-world context and helped me grow as a designer
        in the process.
      </p>
      <!-- Buttons -->
      <div class='mb-10 flex justify-between'>
        <Button
          text='back to top'
          type='button'
          icon='arrow'
          className='back-to-top-button'
          iconClassName='-rotate-90'
        />
        <a href='/berkshiregrey'>
          <Button text='next case study' type='button' icon='arrow' />
        </a>
      </div>
    </div>
  </main>

  <script>
    // Back to top button
    const backToTopButton = document.querySelector('.back-to-top-button');

    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    if (backToTopButton) {
      backToTopButton.addEventListener('click', scrollToTop);
    }
  </script>

  <style></style>
</Layout>
