---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import EnsoLottie from '../components/EnsoLottie.tsx';
import projectsData from '../data/projects.json';

const imageModules = import.meta.glob('../assets/**/*.{webp,png,jpg,svg}');

const visibleProjects = await Promise.all(
  projectsData
    .filter((project) => project.isVisible)
    .map(async (project) => {
      const bgPath = project.bgImg;
      const uiPath = project.uiImg;

      if (!imageModules[bgPath] || !imageModules[uiPath]) {
        console.error(`Image module not found for project: ${project.title}`);
        return null;
      }

      const bgImgModule = await imageModules[bgPath]();
      const uiImgModule = await imageModules[uiPath]();

      return {
        ...project,
        bgImg: bgImgModule.default,
        uiImg: uiImgModule.default,
      };
    }),
).then((projects) => projects.filter(Boolean)); // Filter out nulls
---

<Layout title='Joe Nguyen | Designer & Engineer' isIndex={true}>
  <main class='mx-4 mb-10 mt-[80px] grid gap-5'>
    <!-- Intro Section -->
    <div class='flex pt-3 sm:flex-col sm:items-center sm:text-center'>
      <!-- Text -->
      <div class='flex w-1/2 flex-col justify-center sm:mb-20 sm:w-full'>
        <!-- <div class="mb-0 text-3xl font-bold">Joe</div> -->
        <div class='mb-5 text-lg font-bold'>Designer & Engineer</div>
        <p class='mb-0 text-lg'>
          Passionate about the space where people and technology meet.
        </p>
      </div>
      <!-- Lottie -->
      <div
        class='my-auto w-1/2 max-w-[300px] sm:order-first'
        id='lottie-container'
        style='min-height: 300px;'
      >
        <EnsoLottie client:load />
      </div>
    </div>
    <!-- Case Studies Section -->
    <div class='mx-auto mb-10 grid max-w-screen-md gap-10 sm:grid-cols-2'>
      {visibleProjects.map((project) => (
        <ProjectCard
          href={project.href}
          title={project.title}
          body={project.body}
          bgImg={project.bgImg}
          uiImg={project.uiImg}
          bgAlt={project.bgAlt}
          uiAlt={project.uiAlt}
          className={project.className}
        />
      ))}
    </div>
  </main>
</Layout>

<script>
  // Animation for project cards
  document.addEventListener('DOMContentLoaded', () => {
    const projects = document.querySelectorAll('[data-project-card]');

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('opacity-0', 'translate-y-10');
          entry.target.classList.add('opacity-100', 'translate-y-0');
        }
      });
    });

    projects.forEach((project) => {
      observer.observe(project);
    });
  });
</script>
