---
// Imports
import { Image } from 'astro:assets';

// Components
import Banner from '../components/Banner.astro';
import Button from '../components/Button.astro';
import ImageSlider from '../components/ImageSlider.astro';
import Layout from '../layouts/Layout.astro';

// Banner Assets
import pshLogo from '../assets/pinksofahour/psh-logo.webp';
import pshBg from '../assets/pinksofahour/studio.webp';

// Images
import pshInterview from '../assets/pinksofahour/psh-interview.webp';
import homePage from '../assets/pinksofahour/psh-home.webp';
import aboutPage from '../assets/pinksofahour/psh-about.webp';
import missionPage from '../assets/pinksofahour/psh-mission.webp';
import storyPage from '../assets/pinksofahour/psh-story.webp';
import oldDesign from '../assets/pinksofahour/psh-old.webp';
import pshColor from '../assets/pinksofahour/psh-brand-color.webp';
import pshTypo from '../assets/pinksofahour/psh-brand-typo.webp';
import pshCopy from '../assets/pinksofahour/psh-brand-copy.webp';
import pshExample from '../assets/pinksofahour/psh-brand-example.webp';
import wixPage from '../assets/pinksofahour/psh-wix.webp';
import blogPage from '../assets/pinksofahour/psh-blog.webp';
import shopPage from '../assets/pinksofahour/psh-shop.webp';
import shopItem from '../assets/pinksofahour/psh-shop-item.webp';
import sponsorshipPage from '../assets/pinksofahour/psh-sponsorship.webp';
import pshTraffic from '../assets/pinksofahour/psh-traffic.webp';
import couchedPage from '../assets/pinksofahour/couched-home.webp';
const images = [
  homePage,
  aboutPage,
  missionPage,
  storyPage,
  oldDesign,
  pshColor,
  pshTypo,
  pshCopy,
  pshExample,
  wixPage,
  blogPage,
  shopPage,
  shopItem,
  sponsorshipPage,
  pshTraffic,
  couchedPage,
];
---

<Layout title='Joe Nguyen | Pink Sofa Hour Case Study'>
  <main class='mt-[100px]'>
    <!-- Image Slider -->
    <ImageSlider images={images} />
    <!-- Banner -->
    <Banner
      title='Pink Sofa Hour'
      bgImg={pshBg}
      bgImgAlt='Homepage of the Pink Sofa Hour website'
      logo={pshLogo}
      logoAlt='Pink Sofa Hour logo'
      overview='Web designer for The Pink Sofa Hour, a Colorado based music interview show focused on cultivating community by connecting artists and audiences.'
      roles={['Web Designer']}
      tools={['Wix Studio']}
      duration='4 months'
    />
    <div class='wrapper'>
      <!-- Overview Section -->
      <h2>Background</h2>
      <Image
        src={pshInterview}
        alt='Pink Sofa Hour interview show'
        class='mb-2 w-full object-cover'
      />
      <figcaption class='mb-10 text-center text-sm'>
        The Pink Sofa Hour interview show
      </figcaption>
      <p>
        In today’s music landscape, discovery is effortless, but real connection
        is scarce. Streaming services like Spotify offer unlimited access to
        music, yet their algorithm-driven approach often prioritizes convenience
        over community, making it easy to listen but hard to engage.
      </p>
      <p class='mb-20'>
        The <b>Pink Sofa Hour</b> was created to bridge that gap—bringing Colorado’s
        most talented musicians to the forefront through curated shows, live-streamed
        interviews, and community events, all designed to foster a deeper connection
        between artists and audiences.
      </p>
      <h2>Website Redesign</h2>
      <p>
        I redesigned the website for <a
          target='_blank'
          href='https://pinksofahour.com'
          class='font-medium text-[#d023a5] underline'>The Pink Sofa Hour</a
        >, a Colorado based music interview show focused on the local music
        community.
      </p>
      <p class='mb-20'>
        The new site better showcases the brands bold and funky style, as well
        as adds more functionality for cultivating connections between artists
        and audiences, a core value of the show.
      </p>
      <!-- Images -->
      <Image
        class='open-modal-button mb-2 w-full cursor-pointer object-cover'
        src={homePage}
        alt='Pink Sofa Hour home page'
        data-index='0'
      />
      <figcaption class='mb-10 text-center text-sm'>Home page</figcaption>
      <div class='mb-2 grid'>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={aboutPage}
          alt='Pink Sofa Hour about page'
          data-index='1'
        />
        <figcaption class='mb-10 text-center text-sm'>About page</figcaption>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={missionPage}
          alt='Pink Sofa Hour mission page'
          data-index='2'
        />
        <figcaption class='mb-10 text-center text-sm'>Mission page</figcaption>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={storyPage}
          alt='Pink Sofa Hour story page'
          data-index='3'
        />
        <figcaption class='mb-20 text-center text-sm'>Story page</figcaption>
      </div>
      <h2>Previous Web Design</h2>
      <Image
        class='open-modal-button mb-2 cursor-pointer'
        src={oldDesign}
        alt='Previous Pink Sofa Hour home'
        data-index='4'
      />
      <figcaption class='mb-10 text-center text-sm'>
        Previous website home page
      </figcaption>
      <p>
        The previous site had limited content and a layout that didn’t make
        effective use of space. It also underutilized colors and typography,
        missing the chance to fully capture the brand’s playful style.
      </p>
      <p class='mb-20'>
        Working with branding specialist <a
          href='https://bixalot.com'
          class='font-medium text-[#d023a5] underline'>Bixalot</a
        >, proper style guides were created to ensure the new site aligned with
        the brand's identity across social media and other platforms.
      </p>
      <h2>New Brand Guidelines</h2>
      <div class='mb-2 grid grid-cols-2'>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={pshColor}
          alt='Brand Guidelines: Color'
          data-index='5'
        />
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={pshTypo}
          alt='Brand Guidelines: Typography'
          data-index='6'
        />
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={pshCopy}
          alt='Brand Guidelines: Color'
          data-index='7'
        />
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={pshExample}
          alt='Brand Guidelines: Typography'
          data-index='8'
        />
      </div>
      <figcaption class='mb-20 text-center text-sm'>
        Brand Guidelines for Color, Typography, and Copy
      </figcaption>
      <h2>Designing with Wix Studio</h2>
      <p>
        The site was built with Wix Studio, leveraging the platform’s diverse
        features. These included a <b>blog</b> for music-related reviews, an integrated
        <b>shop</b> for merchandise sales, and <b>email marketing</b> tools to gather
        submissions for giveaways and events.
      </p>
      <div class='mb-2 grid'>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={wixPage}
          alt='Wix Studio interface of Pink Sofa Hour'
          data-index='9'
        />
        <figcaption class='mb-10 text-center text-sm'>
          Wix Studio interface
        </figcaption>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={blogPage}
          alt='Pink Sofa Hour blog page'
          data-index='10'
        />
        <figcaption class='mb-10 text-center text-sm'>Blog page</figcaption>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={shopItem}
          alt='Pink Sofa Hour shop item page'
          data-index='11'
        />
        <figcaption class='mb-10 text-center text-sm'>
          Shop item page
        </figcaption>
        <Image
          class='open-modal-button mb-2 cursor-pointer'
          src={sponsorshipPage}
          alt='Pink Sofa Hour sponsorship page'
          data-index='12'
        />
        <figcaption class='mb-20 text-center text-sm'>
          Sponsorship page
        </figcaption>
      </div>
      <!-- Results & Impact -->
      <h2>Results & Impact</h2>
      <Image
        class='open-modal-button mb-2 cursor-pointer'
        src={pshTraffic}
        alt='Pink Sofa Hour traffic'
        data-index='13'
      />
      <figcaption class='mb-10 text-center text-sm'>
        Site Traffic (September 2024 - December 2024)
      </figcaption>
      <p>
        The redesigned website has significantly enhanced the brand’s online
        presence, effectively engaging both artists and audiences. In the
        initial months post-launch, the site has experienced a notable increase
        in traffic, leading to a substantial collection of email subscriptions.
      </p>
      <p>
        Looking ahead, a new site is currently under development for the parent
        company, <a
          target='_blank'
          href='https://couchedmedia.com'
          class='font-medium text-[#112536] underline'>Couched Media</a
        >, which will expand on these design principles and offer a more
        comprehensive digital experience for both the local music scene and the
        broader creative community.
      </p>
      <Image
        class='open-modal-button mb-2 cursor-pointer'
        src={couchedPage}
        alt='Couched Media homepage'
        data-index='14'
      />
      <figcaption class='mb-10 text-center text-sm'>
        Preview of the Couched Media website
      </figcaption>
      <!-- Buttons -->
      <div class='mb-10 flex justify-between'>
        <Button
          text='back to top'
          type='button'
          icon='arrow'
          className='back-to-top-button'
          iconClassName='-rotate-90'
        />
        <a href='/toast'>
          <Button text='next case study' type='button' icon='arrow' />
        </a>
      </div>
    </div>
  </main>

  <script>
    // Back to top button
    const backToTopButton = document.querySelector('.back-to-top-button');

    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    if (backToTopButton) {
      backToTopButton.addEventListener('click', scrollToTop);
    }
  </script>

  <style></style>
</Layout>
