---
import { Image } from 'astro:assets';

interface Props {
  href: string;
  title: string;
  body: string;
  bgImg: ImageMetadata;
  uiImg: ImageMetadata;
  bgAlt?: string;
  uiAlt?: string;
  className?: string;
}

const { href, title, body, bgImg, uiImg, bgAlt = `${title} background`, uiAlt = `${title} UI preview`, className } = Astro.props;
---

<div
  data-project-card
  class={`translate-y-10 opacity-0 transition-all duration-1000 ease-in-out ${className || ''}`}
>
  <a href={href} class='project-card-link'>
    <div
      class='h-full border-2 border-black shadow-[5px_5px_2px_1px_darkGray] duration-200 hover:scale-105'
    >
      <div
        class='relative aspect-square overflow-hidden border-b-2 border-black'
      >
        <Image
          class='absolute bottom-1 right-1 z-10 aspect-auto h-2/5 w-auto animate-fadeIn opacity-0'
          src={uiImg}
          alt={uiAlt}
        />
        <Image
          class='absolute inset-0 h-full w-full object-cover'
          src={bgImg}
          alt={bgAlt}
        />
      </div>
      <div class='flex flex-col justify-between p-4'>
        <div class='mb-2 text-lg'>
          {title}
        </div>
        <p class='mb-2'>{body}</p>
        <div class=''>View Project</div>
      </div>
    </div>
  </a>
</div>

<style>
  .project-card-link:focus-visible {
    outline: 3px solid black;
    outline-offset: 4px;
    display: block;
  }
</style>
