---
import { Image } from 'astro:assets';

interface Props {
  href: string;
  title: string;
  body: string;
  bgImg: ImageMetadata;
  uiImg: ImageMetadata;
  bgAlt?: string;
  uiAlt?: string;
  className?: string;
}

const { href, title, body, bgImg, uiImg, bgAlt = `${title} background`, uiAlt = `${title} UI preview`, className } = Astro.props;

// ANIMATIONS TEMPORARILY DISABLED
// Create unique transition names based on href (e.g., /berkshiregrey)
// const projectSlug = href.replace(/\//g, '');
// const imageTransitionName = `project-image-${projectSlug}`;
// const titleTransitionName = `project-title-${projectSlug}`;
---

<div
  data-project-card
  class={className || ''}
>
  <a href={href} class='project-card-link'>
    <div
      class='h-full border-2 border-charcoal dark:border-pearl'
    >
      <div
        class='relative aspect-square overflow-hidden border-b-2 border-charcoal dark:border-pearl'
        {/* style={{
          viewTransitionName: imageTransitionName,
        }} */}
      >
        <Image
          class='absolute bottom-1 right-1 z-10 aspect-auto h-2/5 w-auto'
          src={uiImg}
          alt={uiAlt}
        />
        <Image
          class='absolute inset-0 h-full w-full object-cover'
          src={bgImg}
          alt={bgAlt}
        />
      </div>
      <div class='flex flex-col justify-between p-4'>
        <div
          class='mb-2 text-lg'
          {/* style={{
            viewTransitionName: titleTransitionName,
          }} */}
        >
          {title}
        </div>
        <p class='mb-2'>{body}</p>
        <div class=''>View Project</div>
      </div>
    </div>
  </a>
</div>

<style>
  .project-card-link:focus-visible {
    outline: 3px solid #3D3935; /* charcoal */
    outline-offset: 4px;
    display: block;
  }

  .dark .project-card-link:focus-visible {
    outline-color: #FAF8F3; /* pearl */
  }
</style>
